.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    background-color: #ffa500;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99999999999;
}

.chat-box {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99999999999;
}

.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-messages {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.chat-input {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.chat-input input {
    width: 80%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.chat-input button {
    background-color: #007bff;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.close-chat-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.left{
    text-align: left;
}

.right{
    text-align: right;
}
.chat-img{
    height: 30px;
    width: 30px;
}

.message {
    max-width: 70%;
    padding: 10px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 12px;
    font-size: 14px;
    position: relative;
    display: inline-block;
}

.message.left {
    background-color: #e9e9e9;
    color: #333;
    text-align: left;
    align-self: flex-start;
}

.message.right {
    background-color: #007bff;
    color: white;
    text-align: right;
    align-self: flex-end;
}

.message .timestamp {
    font-size: 12px;
    color: #666;
    position: absolute;
    bottom: -20px;
    right: 10px;
    margin-top: 10px;
}

.message.left .timestamp {
    bottom: -20px;
    left: 10px;
}

.chat-messages {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column; /* Align messages vertically */
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    background-color: #ffa500;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-box {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    width: calc(100% - 80px);
    padding: 5px;
}

.chat-input button {
    background-color: #007bff;
}
