/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url('../images/charger-ev.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    margin: 20px;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    margin: 3px;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover, input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus {
    border-color: #45a049;
}

button {
    width: 30%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; 
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #4CAF50;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.vehicle-entry {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.vehicle-entry input {
    flex: 1;
}

button.remove-btn {
    background-color: #ff4d4d00;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}

button.remove-btn:hover {
    background-color: #e6000000;
}

#addVehicleBtn {
    display: block;
    margin: 10px auto;
}